input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);


body {
font-family: roboto, sans-serif;
    margin: 0px;
}

a {
    text-decoration: none;
}

.top-navigation {
    width: 100%;
    height:439px;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -50px;
    margin: auto;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
    z-index: 15;
}

.vert-menu > a > img {
    width: 4px;
    float: right;
    margin-top: -38px;
    margin-right: 13px;
    padding: 10px;
}

.spacer {
    width: 100%;
    height: 439px;
}

.logo {
    width: 100%;
    object-fit: scale-down;
    height: 38px;
}

.logo-wrapper {
    margin: auto;
    width: 100%;
    margin-top: 11px;
    position: absolute;
    z-index: 5;
    top: 0px;
    left: 0px;
}

.navigation-card {
    margin: auto;
    width: 94%;
    
}

.navigation-card> div > h4 {
    font-weight: normal;
    font-size: 14px;
    margin-top: 0px;
    color: #737474;
    margin-bottom: 10px;
    ;
}

.navigation-card > h3 {
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 4px;
    color: black;
    
}

.navigation-card > p {
    margin: auto;
    width: 96%;
    ;
    font-size: 14px;
    margin-top: 15px;
    line-height: 22px;
    color: black;
}

.card-btns {
    margin-left: 0%;
    margin-top: 15px;
}

.card-btns > button > a {
    color: black;
}

.card-btns > a > button {
    background-color: white;
    border: none;
    color: black;
    padding-right: 22px;
    padding-left: 22px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top: -7px;
    margin-bottom: -7px;

    border-color: black;
    margin-left: -5px;
    width: 100%;
}

.focus-btn {
    background-color: black;
    color: white;
}

.card-icon {
    width: 40px;
    float: left;
    margin-left: 0px;
    margin-right: 15px;
    height: 40px; 
    object-fit: cover;
    border-radius: 50px;
}

.card-img {
    margin-top: 0px;
    width: 100%;
    border-radius: 6px;
}

.card-divider {
    width: 100%;
    height: 1px;
    background-color: #4D4D4D;
    filter: opacity(0.2);
    margin-top: 20px;
    margin-bottom: 15px;
}

.ad-unit {
    margin-top: 20px;
}


.button-items > a > img {
    width: 115px;
}

.button-items {
    margin: auto;
    width: 350px;
}

.bottom-navigation {
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    position: fixed;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
    display: none;
}



.fab-container {
    background-color: black;
    position: fixed;
    bottom: 70px;
    right: 16px;
    z-index: 100;
    border-radius: 50px;
    display: none;
}

.fab-container > img {
    width: 15px;
    float: left;
    margin-left: 17px;
    margin-top: 18px;
    margin-right: 11px;
    margin-bottom: 19px;
}

.fab-container > h3 {
    float: left;
    font-size: 14px;
    font-weight: normal;
    color: white;
    margin-right: 22px;
    margin-top: 19px;
}


/*------------------------Swiper Js---------------------------*/

.swiper-container {width: 100%; height: 100%;margin-top: -53px;}

.swiper-slide > img{width: 100%;filter: brightness(0.4);object-fit: cover;height: 100%;}

.swipe-text {;}

.swipe-text-wrapper {    position: absolute;
    bottom: 60px;
    width: 294px;
    margin-left: 31px;}

    .swipe-text > h3 {font-size: 14px;background-color: rgba(0, 0, 0, 0.39) ;color: white;width: fit-content;font-weight: normal;padding: 7px;padding-top: 5px; padding-bottom: 5px;border-radius: 4px;;}

    .swipe-text > h2 {color: white;margin-top: -9px;font-weight: 600}

    .swipe-text > p {color: white;
        font-size: 14px;
        margin-top: -15px}

        .outlined-button {font-weight: 600;padding: 8px;background-color: transparent;border: solid 2px white;color: white; border-radius: 4px;font-size: 15px;;}

        .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {background-color: white; ;}

 .icon-item{display: inline-block;width: 69px;margin-right: 15px;margin-top: 20px;vertical-align: top;}

 .icon-item > img {width: 69px; height: 69px; object-fit: cover;border-radius: 50px;}

 .icon-item > p {color: white; font-weight: 600;width: 100%; text-align: center;margin-top: 0px;font-size: 13px;}

 .icon-list > h3 {color: white; font-size: 13px;margin-bottom: -5px;display: none;}

 .icon-list {display: none;}

 @media screen and (min-width: 800px) {
    .navigation-card {
        /* margin: auto; */
        width: 448px;
        display: inline-block;
        /* float: left; */
        vertical-align: top;
        margin-right: 15px;
        margin-top: 18px;
  }
  .card-divider {display: none;}

  #anchor {    margin: auto;
    width: 94%;}

    .card-icon {    padding-top: 14px;
        border-radius: 0px;}

        .card-img {    height: 255px;
            object-fit: cover;}
}